// Space unit
$theme-spacing: 8px;

// Colors
$black: rgba(0, 40, 87, 1);
$white: #fff;
$primary: rgba(0, 40, 87, 1);
$secondary: rgb(0, 130, 187);
$secondary-dark: rgb(0, 86, 139);
$secondary-light: rgba(88, 177, 238, 1);
$text-disable: rgb(185, 185, 185);
$filled-gray: #fafafa;
$disabled-gray: #0000001F;
$outline: rgba(137, 137, 137, 1);
$disabled-outline: lighten($disabled-gray, 25%);

// Fonts
$neo-sans-bold: NeoSansBold, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$neo-sans-regular: NeoSansRegular, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$neo-sans-medium: NeoSansMedium, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
